
html {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

body {
   margin: 0px;
   
   max-width: 100%;
   overflow-x: hidden;   
}

#container{
    width: 100%;
}

#example {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 96%;
    height: 70%;
}

#main-app{
    height: 100%;
}

#profile-card{
position: absolute;
top:0;
}


